.custom-card {
    border: 1px solid #bfc1c3;
    padding: 12px;
    margin: 30px 0;
}

.search-table-caption {
  text-align: left;
}

.no-js-link {
  display: block;
}

.js-enabled .no-js-link {
  display: none;
}

.js-link {
  display: none;
}

.js-enabled .js-link {
  display: block;
}

.govuk-table__head {
    text-align: left;
}
