$govuk-assets-path: "/claim-back-import-duty-vat/claims-status/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/claim-back-import-duty-vat/claims-status/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";

@import "utils/colours";
@import "utils/custom";
@import "components/pager";
@import "components/notifications-bar";
@import "components/custom-card";
@import "components/search-form";

nav#secondary-nav>ul {
    padding: 0;
}

td.break-word {
  word-wrap: break-word; // Fallback for older browsers only
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}